body{font-family:"Georgia","微软雅黑","华文中宋";background-color:#444;background-color:rgba(0, 0, 0, 0.5);color:#fff;}
h1{font-size:20px;}
h2{font-size:14px;}
h1,h2{text-align:center;padding-top:10px;}
.main li{float:left;width:406px;min-height:220px;margin:0 20px 20px 0;padding:20px 0 0 20px;}
.main li a{display:block;width:230px;height:130px;background-position:center center;background-repeat:no-repeat;}
.main li .prv{padding:3px;background-color:#fff;}
.main li .prv .thumb{overflow:hidden;min-height:100px;max-height:180px;}
.main li .prv img{width:400px;}
.main li .info{line-height:2em;font-size:14px;}
#origin_src{display:none;position:absolute;top:0;right:0;width:400px;-moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.7);-webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.7);box-shadow:5px 5px 10px rgba(0, 0, 0, 0.7);}
